---
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import AboutMe from "@components/AboutMe.astro";

---

<PageLayout title="Home" description="gthmk.dev">
  <Container>
    <div class="space-y-20">
      <AboutMe />
    </div>
  </Container>
</PageLayout>
