---
---
<ol class="font-mono text-sm md:text-lg text-black dark:text-white list-decimal ml-6 space-y-4">
  <li>
    <strong class="text-sm md:text-xl">Detecting AI Voice Cloning</strong><br />
    <span class="text-sm md:text-lg text-gray-600 dark:text-gray-200">SXSW Student Innovation Award Finalist, 2024</span><br />
    <a href="https://www.sxsw.com/news/2024/sxsw-2024-innovation-awards-finalists-announced/" target="_blank" rel="noopener noreferrer" class="text-sm md:text-lg text-blue-500 dark:text-blue-300 hover:underline">
      sxsw.com/news/2024/sxsw-2024-innovation-awards-finalists-announced/
    </a>
  </li>
  <li>
    <strong class="text-sm md:text-xl">The Deepfake Fingerprint</strong><br />
    <span class="text-sm md:text-lg text-gray-700 dark:text-gray-300">Prizewinner, Nobel Prize Summit on Countering Misinformation (via UNDP & Digital Public Goods Alliance), 2023</span><br />
    <a href="https://www.undp.org/policy-centre/governance/events/undps-participation-nobel-prize-summit-2023" target="_blank" rel="noopener noreferrer" class="text-sm md:text-lg text-blue-600 dark:text-blue-400 hover:underline">
      undp.org/policy-centre/governance/events/undps-participation-nobel-prize-summit-2023
    </a>
  </li>
  <li>
    <strong class="text-sm md:text-xl">Digital Fingerprinting to Protect Against Deepfakes</strong><br />
    <span class="text-sm md:text-lg text-gray-700 dark:text-gray-300">Research Grant, Berkeley Center for Long-Term Cybersecurity, 2023</span><br />
    <a href="https://cltc.berkeley.edu/publication/digital-fingerprinting-to-protect-against-deepfakes/" target="_blank" rel="noopener noreferrer" class="text-sm md:text-lg text-blue-600 dark:text-blue-400 hover:underline">
      cltc.berkeley.edu/publication/digital-fingerprinting-to-protect-against-deepfakes/
    </a>
  </li>
</ol>
